*{
    margin: 0;
    padding: 0;
}

body {font: 400 15px/1.8 Lato, sans-serif;color: #777;}
h3, h4 {margin: 10px 0 30px 0;letter-spacing: 10px; font-size: 20px;color: #111;}
p{margin-bottom: 10px;}

.list-group{list-style-type: none;margin-bottom: 15px;}
.list-group-item{padding: 10px 15px; background-color: #fff; border: 1px solid #ddd;}
.text-center{text-align: center;}

/* EXEPTIONS */
.thumbnail p, .thumbnail h3{color: #2d2d30;}

.bg-home{width: 100%;height: auto;}
.bg-1{background-color: #2d2d30; color: #bdbdbd; font-style: italic;}
.bg-1 h3{color: white;}

/* IMAGES */
img{border:0; vertical-align:middle;}
.img-circle{border-radius: 50%}
.thumbnail img{width: 100%; height: auto; margin-bottom: 15px;}

/* OBJETCS */

@media only screen and (min-width: 600px) {
    .row{margin-left: -15px; margin-right: -15px;}
}

.container{padding: 80px 120px; box-sizing: border-box; display: block;}
.pearson{border: 10px solid transparent; margin-bottom: 25px; width: 80%; height: 80%; opacity: 0.7;}
.thumbnail{padding: 0 0 15px 0; background-color: white; box-shadow: 0px 0px 20px rgb(14, 14, 14);margin: 0 0 20px;display: block; box-sizing: border-box;}
.btn{border: 1px solid transparent; padding: 10px 20px; background-color: #333; color: white;display: inline-block; cursor: pointer;}

/* BAR-TOP SETTINGS */
.bar-top{width: 100%;position: fixed; top:0}
.bar-top ul{margin: 0; padding: 0; list-style-type: none; background-color: rgba(0, 0, 0, 0.082); overflow: hidden;}
.bar-top li{float: left;}   
.bar-top li a{display: block;color: white;text-decoration: none;padding: 8px;}  
.bar-top li a:hover:not(.active){background-color: #111;}
.active {background-color: #04AA6D;}

/* For Mobile */
[class*=".grid-"]{width: 100%;}

/* For Desktop */
@media only screen and (min-width: 600px) {
    .grid-4{width: 33.3333%; float: left;padding: 16px;box-sizing: border-box;}
}


/* CLEAR SECTION */

.container:before, .container:after, .row:before, .row:after{
    display: table;
    content: " ";
}

.container:before,.container:after, .row:before, .row:after{
    clear: both;
}